<div style="text-align:center;">
    <p> Welcome to <b>Find Your Tutor</b></p>
    <hr/>
</div>
<p>
    Thank you for registering with <a href="http://127.0.0.1:5000/">Find Your Tutor</a>.
    <br>
    Here are your account details:
</p>
<p>Your Username: {{ username }}</p>
<p>Account Type: {{ role.title() }}</p>
<p>You can now start contacting tutors.</p>
To confirm your account,
<a href="{{ url_for('confirm_account', user=user, token=token, _external=True) }}">
    click here.
</a>
<p>Hope you enjoy our service.</p>
<p>For your queries, please mail us <a href="mailto:{{ email }}" >here</a>.</p>
<strong>Regards,<br>Find Your Tutor</strong>
