{% extends "admin/master.html" %}

{% block brand %}
<a id='logo' href="{{url_for('home')}}">
    <img class="image-responsive no-select" style="width:100px;height:50px;"
      src="{{ url_for('static', filename='images/logo.png') }}" />
</a>
{% endblock %}

{% block head_css %}
{{ super() }}
<style>
#logo{
    padding: 10%;
    margin-right: 30px;
}
</style>
{% endblock %}

{% block body %}
  <!-- <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}"> -->
  <h1>Welcome to the admin panel!</h1>

    <form action="{{ url_for('send_admin_announcements') }}" method="POST" class="form">
      <legend>Make Announcements</legend>

      <div class="form-group">
        <label for="title">Title</label>
        <input type="title" class="form-control" id="title" name="title" required>
      </div>
      
      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" rows="3" name="message" required></textarea>
      </div>

      <div class="form-group">
        <button type="submit">Send Mail</button>
      </div>
    </form>

{% endblock %}
