{% extends 'base.html'%}

{% block title %}
  Sign Up
{% endblock %}
<!--
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .dropbtn {
      background-color: #3498DB;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    .dropbtn:hover, .dropbtn:focus {
      background-color: #2980B9;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown a:hover {background-color: #ddd;}
    
    .show {display: block;}
    </style>

yabata block content
    <div class="one" >
        <form action="{{url_for('user_register')}}" method="POST">
            <label for="user-id">Username</label><br>
            <input type="text" name="user-id" /><br>
            <label for="user-email">Email</label><br>
            <input type="text" name="user-email" /><br>
            <label for="user-name">Name</label><br>
            <input type="text" name="user-name" /><br>
            <label for="user-id">Phone Number</label><br>
            <input type="number" name="user-phone_number" /><br>
            <label for="login-password">Password</label><br>
            <input type="password" name="login-password" id="login-password" /><br><br>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="#">Home</a>
                  <a href="#">About</a>
                  <a href="#">Contact</a>
                </div>
              </div><br><br>
            <button type="submit">Log in</button>
        </form>
    </div>
    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
        </script>
        
ya sakkinee

-->

{% block content %}
<div class="container mt-5 pt-4">
  <form action="" class="form my-2" method="POST">
    <legend class="border-bottom mb-4">Join Us</legend>
    {{form.hidden_tag()}}
    <div class="form-row">
      <div class="form-group col">
        {{form.username.label(class='form-control-label')}}
        {{form.username(class='form-control')}}
      </div>
      <div class="form-group col">
        {{form.email.label(class='form-control-label')}}
        {{form.email(class='form-control')}}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        {{form.password.label(class='form-control-label')}}
        {{form.password(class='form-control')}}
      </div>
      <div class="form-group col">
        {{form.confirm_password.label(class='form-control-label')}}
        {{form.confirm_password(class='form-control')}}
      </div>
    </div>
  
    <div class="form-group">
        {{form.role.label(class='form-control-label')}}
        {{form.role(class='form-control')}}
      </div>
      <br>
      <hr>
    <input class="btn btn-success" type="submit" value="Sign Up">
  
    </div>
  </form>
</div>







{%endblock%}