<style>
  .contact-links{
    text-decoration-style: none !important;
  }
  
</style>

<section class="footer" id="#Footer">
    <div class="container-fluid">
      <div class="contact" style="text-align: center;">

            <h2 style="margin-bottom:2%;">Contact</h2>

            <div class="row">
              <p class="col-md-1"></p>
              <p class="col-md-4">
                <a class="contact-links" href="https://www.google.com/maps/place/28+Kilo,+Dhulikhel+45200/@27.6247957,85.5372977,16.25z/data=!4m5!3m4!1s0x39eb08ddf9285c83:0x8d8fea7e5dbf887d!8m2!3d27.6255665!4d85.5399774" target="_blank">
                <i class="fa fa-home"></i>
                28 Kilo, Dhulikhel, Nepal
                </a>
              </p>
              <p class="col-md-3">
                <a class="contact-links" href="mailto:fytnepal@gmail.com" target="_blank">
                <i class="fa fa-envelope"></i>
                fytnepal@gmail.com
                </a>
              </p>
              <p class="col-md-3">
                <i class="fa fa-phone"></i>
                9863xxxxxx
              </p>
              <p class="col-md-1"></p>
            </div>
      </div>
    </div>
</section>