{% extends 'base.html'%}

{% block title %}
    Find Your Tutor
{% endblock %}

{% block content %}

    <div class="container-fluid" >
        <h1 class="aboutus">ABOUT US</h1>
        <p class="abt-descp">
            <strong>FIND YOUR TUTOR</strong> is a non profit website,which provides a best platform for students and tutors in order to improve the teaching-learning process in this digital era. It gives them the flexibility to decide their preferred days and time for getting tuition.Students can save their valuable time, energy and cost involved in travelling.
        </p>
        <p class="abt-descp">
            It help in choosing tutors for students with the preferred timings, location, and fee for tuition. It provide the students with a platform to choose the best tutor according to the courses. It allow part-timers to try their hand in teaching to support their income. It allow tutors to create a strong profile for themselves so that they would stand unique in the market.
        </p>
    </div>

{% endblock %}