{% if user.role=='student' %}
    {% extends 'student.html' %}
{% else %}
    {% extends 'tutor.html' %}
{% endif %}


{% block active %}
    activateMenu('account-info')
{% endblock %}


{% block content %}
<div class="container">
  
    <form action=" " class="form my-2" method="POST">
      <legend class="border-bottom mb-4">Account information</legend>
      {{form.hidden_tag()}}
        <div class="form-row">
            <div class="form-group col">
              {{form.OldPassword.label(class='form-control-label')}}
              {% if form.OldPassword.errors %}
                {{form.OldPassword(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.OldPassword.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
              {%else%}
                {{form.OldPassword(class="form-control")}}
              {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
              {{form.NewPassword.label(class='form-control-label')}}
              {% if form.NewPassword.errors %}
                {{form.password(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.NewPassword.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
              {%else%}
                {{form.NewPassword(class="form-control")}}
              {% endif %}
            </div>
        </div>
      <div class="form-row">
            <div class="form-group col">
              {{form.confirm_password.label(class='form-control-label')}}
              {% if form.confirm_password.errors %}
                {{form.confirm_password(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
              {%else%}
                {{form.confirm_password(class="form-control")}}
              {% endif %}
            </div>
      
          </div>
        <input class="btn btn-success" type="submit" value="Change Password">
    </form>

</div>

{% endblock %}
