{% if user.role=='student' %}
    {% extends 'student.html' %}
{% else %}
    {% extends 'tutor.html' %}
{% endif %}

{% block active %}
    activateMenu('my-courses')
{% endblock %}

{% block additional_style %}
    .container{
        padding: 3%;
    }

    .card{
        margin-bottom: 6%;
        background-color: #049BBA; 
        transform:scale(0.9);
        transition:transform 0.5s;
        overflow:hidden;
        opacity:0.7;
        
    }
    .card:hover{
        opacity:1;
        transform:scale(1.1);
    }

    .card-body{
        color:white;
    }

    .card-text{
        height: 150px ;
        color:white;
        
    }
{% endblock %}

{% block content %}
    <div class="container-fluid">
        
        <div class='row'>
            <div class="col-md-6">
                <legend class="border-bottom mb-4 ">
                    Courses
                </legend>
            </div>
            <div class="col-md-6">
                <form action='' method="GET" style="float:right;">
                    <div class='input-group'>
                        <select class="custom-select" name="educational_level">
                            <option value='Basic Education(Grade 1-8)'>Basic Education (Grade 1-8)</option>
                            <option value="Secondary Education(Grade 9-12)">Secondary Education (Grade 9-12)</option>
                            <option value="Bachelor Level">Bachelor Level</option>
                            <option value="Master Level">Master Level</option>
                        </select>
                        <span>
                            <button type="submit" class= "btn btn-primary" value="" >
                                <i class="fas fa-search" ></i>
                            </button>
                        </span>
                    </div>    
                </form>
            </div>
        </div>
        
        <div class="row">
            {% for course in courses %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title" >
                                <a href="{{url_for('courses_by_id', id=course.id)}}">
                                    {{ course.course_title }}
                                </a>
                                <a class="btn btn-secondary btn-sm " href="{{url_for('add_course',id=course.id)}}" style="float:right;"> 
                                    <i class="fas fa-plus"></i>
                                    <span></span>
                                </a>
                            </h3>
                            <h5 class="card-title">
                                {{ course.course_level.title() }}
                            </h5>
                            <p class="card-text">
                                {% if course.course_description %} 
                                    {% if course.course_description | length > 100 %}
                                        {{ course.course_description[:100] }} ... 
                                    {% else %}
                                        {{ course.course_description }}
                                    {% endif %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}