{% if user.role=='student' %}
    {% extends 'student.html' %}
{% else %}
    {% extends 'tutor.html' %}
{% endif %}

{% block active %}
    activateMenu('my-courses')
{% endblock %}

{% block content %}
<div class="container-fluid">
    <legend class="border-bottom mb-4">Edit Courses</legend>
    <div class="jumbotron">
        <form action="" class="form my-2" method="POST" id='add-course-form'>
            {{ form.hidden_tag() }}
    
            <div class="form">
                <div class="form-group mx-sm-3 mb-2 col-md-12">
                    {{ form.education_level.label(class='form-control-label') }}
                    {% if form.education_level.errors %}
                        {{ form.education_level(class='form-control-plaintext is-invalid', readonly=True, value=course.Course.course_level or '')}}
                        <div class="invalid-feedback">
                        {% for error in form.education_level.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                        </div>
                    {%else%}
                        {{ form.education_level(class='form-control-plaintext', readonly=True, value=course.Course.course_level or '') }}
                    {% endif %}
                    
                </div>
                <div class="form-group mx-sm-3 mb-2 col-md-12">
                    {{ form.course.label(class='form-control-label') }}
                    {% if form.course.errors %}
                        {{ form.course(class='form-control-plaintext is-invalid', readonly=True, value=course.Course.course_level or '')}}
                        <div class="invalid-feedback">
                        {% for error in form.course.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                        </div>
                    {%else%}
                        {{ form.course(class='form-control-plaintext', readonly=True, value=course.Course.course_level or '') }}
                    {% endif %}
                </div>
                <div class="form-group mx-sm-3 mb-2 col-md-3">
                    {{ form.starttime.label(class='form-control-label') }}
                    {% if form.starttime.errors %}
                        {{ form.starttime(class='form-control is-invalid', value=course.time.strftime("%H:%M"), type='time')}}
                        <div class="invalid-feedback">
                        {% for error in form.starttime.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                        </div>
                    {%else%}
                        {{ form.starttime(class='form-control', value=course.time.strftime("%H:%M"), type='time') }}
                    {% endif %}
                </div>
                <div class="form-group mx-sm-3 mb-2 col-md-3">
                    {{ form.endtime.label(class='form-control-label') }}
                    {% if form.endtime.errors %}
                        {{ form.endtime(class='form-control is-invalid', value=course.endtime.strftime("%H:%M"), type='time')}}
                        <div class="invalid-feedback">
                        {% for error in form.endtime.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                        </div>
                    {%else%}
                        {{ form.endtime(class='form-control', value=course.endtime.strftime("%H:%M"), type='time') }}
                    {% endif %}
                </div>
                <div class="form-group mx-sm-3 mb-2 col-md-3">
                    {{ form.cost.label(class='form-control-label') }}
                    {% set z = form.cost.process_data(course.cost) %}
                    {% if form.cost.errors %}
                        {{ form.cost(class='form-control is-invalid custom-select')}}
                        <div class="invalid-feedback">
                        {% for error in form.cost.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                        </div>
                    {%else%}
                        {{ form.cost(class='form-control custom-select') }}
                    {% endif %}
                </div>
            </div> 
            <div class="row col-md-12">
                <div class="form-group mx-sm-3 mb-2 col-md-1">
                    {{ form.save(class='btn btn-success form-control') }}
                </div>     
            </div>
        </form>
    </div>
</div>
{% endblock %}