<!DOCTYPE html>
<html>
    <head>
        

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
                                                                                                                                                                                                                                                                                                                                                                                                                    
    </head>
<body>
    <section >
    
    <p> Welcome to Find Your Tutor
    <p>Thank you for registring with <a href="{{url_for('home')}}">Find Your Tutor.</a>Here are your account details:</p>
    <p>Account type:{{role}}</p>
    <p>Your Username:{{username}}</p>
    <p>You can now start contacting tutors. Simply login using above username, 
        search for a tutor and contact them using our messaging service</p>
        <P>I hope you have had a chance to explore our website</P>
    
    <strong>Regards,<br>Find your tutor</strong>
    </div>
    </section>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             