<section  style="background-color: yellow;">
    <div style="text-align:center;">
        <p > Welcome to<b> Find Your Tutor</b></p>
    <hr/>
        </div>
    <p>Thank you for registring with <a href="http://127.0.0.1:5000/">Find Your Tutor.</a>Here are your account details:</p>
    <p>Account type:{{role}}</p>
    <p>Your Username:{{username}}</p>
    <p>You can now start contacting tutors. Simply login using above username, 
        search for a tutor and contact them using our messaging service</p>
        <p>I hope you have had a chance to explore our website</p>
        <p>For your queries, please mail us <a href="mailto:{{ email }}" >here</a>.</p>
    
    <strong>Regards,<br>Find your tutor</strong>
    </section>