{% extends "extends/base-no-footer.html" %}

{% block title %}
    Login - Find Your Tutor
{% endblock %}

{% block content %}


<style>
    .container{
        max-width:420px;
        background-color: none;   
    }

    .title{
        text-align: center;
        color: #000;
    }

    .label{
        color: #000;
    }

    .ic{
        height:44px;
        width:44px;
        border: 1px solid lightgrey;
    }
    
    .ml-1{
        color:darkblue;
    }

    .password{
        float:left;
        margin-left: 14px;
    }


    .ic i{
        margin-left:12px;
        margin-top: 15px;
    } 

    .label-form{
        float:left;
    }

    .label-link{
        float:right;
    }

    .ext-box{
        font-size: 0.8rem;
    }
</style>

<div class="container">

    {% if admin %}
    <form action="{{url_for('admin_login')}}" class="form my-2" method="POST">
    {% else %}
    <form action="{{url_for('login')}}" class="form my-2" method="POST">
    {% endif %}
        
        <legend class="border-bottom title mb-4">
            {% if admin %}Admin{% endif %} Login
        </legend>
        
        {{form.hidden_tag()}}
    
        <div class="form-group">
            <div class="label">
                {{form.email.label(class='form-control-label')}}
            </div>
            
            {% if form.email.errors %}
                <div class="input-group bg-light">
                    <div class="input-group-addon ic">
                        <i class="fa fa-envelope icn"></i>
                    </div>
                    {{form.email(class="form-control is-invalid")}}
                    
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            {%else%}
                <div class="input-group  bg-light">
                    <div class="input-group-addon ic">
                        <i class="fa fa-envelope icn"></i>
                    </div>
                    {{form.email(class="form-control")}}
                </div>
            {% endif %}
        </div>
        

        <div class="form-group">
            <div class="label">
                <div class="label-form">{{form.password.label(class='form-control-label')}}</div>
            </div>
            {% if form.password.errors %}
                <div class="input-group bg-light">
                    <div class="input-group-addon ic">
                        <i class="fa fa-lock"></i>
                    </div>
                    {{form.password(class="form-control is-invalid")}}
                    
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>
                                {{ error }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            {%else%}
                <div class="input-group bg-light">
                    <div class="input-group-addon ic">
                        <i class="fa fa-lock"></i>
                    </div>
                    {{form.password(class="form-control")}}
                </div>
            {% endif %}
        </div>

        <!-- captcha-->
        
        <input class="btn btn-success" type="submit" value="Login">
    </form>

    {% if not admin %}
    <div class="border-top pt-3 ext-box">
        <div class="row" style="margin-left: 0;">
        <span class="label-link" >
            Forgot <a href="/password-reset" >Password?</a>
        </span>
            <br>
        <span class="label " style="margin-right:0;">
            Do not have an account? <a class="ml-1" href="/register">Sign Up</a>
        </span>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}