{% extends "extends/base.html" %}

{% block title %}
    Login - Find Your Tutor
{% endblock %}

{% block content %}


<style>
    .container{
        max-width:400px;
        background-color: none;   
    }

    .title{
        text-align: center;
        color: #000;
    }

    .label{
        color: #000;
    }

    .ic{
        height:44px;
        width:44px;
        border: 1px solid lightgrey;
    }
    .ml-1{
        color:darkblue;
    }

    .ic i{
        margin-left:12px;
        margin-top: 15px;
    }
</style>

<div class="container">

    <form action="{{url_for('login')}}" class="form my-2" method="POST">
        
        <legend class="border-bottom  title mb-4">Login</legend>
        
        {{form.hidden_tag()}}
    

        <div class="form-group">
            <div class="label">
            {{form.email.label(class='form-control-label')}}
            </div>
            
            {% if form.email.errors %}
            
                {{form.email(class="form-control is-invalid")}}
            
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
            {%else%}
            <div class="input-group bg-light">
                <div class="input-group-addon ic">
                    <i class="fa fa-envelope  icn" ></i>
                </div>
                {{form.email(class="form-control")}}
               </div>
           
        
            {% endif %}
        </div>
        

        <div class="form-group">
            <div class="label">
            {{form.password.label(class='form-control-label')}}
            </div>
            {% if form.password.errors %}
                {{form.password(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                </div>
            {%else%}
            <div class="input-group bg-light">
                <div class="input-group-addon ic">
                    <i class="fa fa-lock" ></i>
                </div>
                {{form.password(class="form-control")}}
               </div>
               
            {% endif %}
        </div>
        <input class="btn btn-success" type="submit" value="Login">
    </form>
    <div class="border-top pt-3">
        <small class =" label ml-3">
            Forgot <a href="/password-reset" class="ml-1">Password?</a>
        </small>
        <small class=' label ml-3'>
            Do not have an account? <a class="ml-1" href="/register">Sign Up</a>
        </small>
    </div>
</div>




{% endblock %}