{% if user.role=='student' %}
    {% extends 'student.html' %}
{% else %}
    {% extends 'tutor.html' %}
{% endif %}

{% block active %}
    activateMenu('my-courses')
{% endblock %}

{% block content %}
<div class = "modal fade" id="edit-mycourse-form">
    <div class = "modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-header-title" class="modal-title">Edit My Course</h4>
                <button type="button" class="close"
                    data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class='modal-body'>
                <form action="" class="form inline" method="POST" id='edit-mycourse-form'>
                    {{ form.hidden_tag() }}
            
                    <div class="form-row">
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form.education_level.label(class='form-control-label') }}
                            {{ form.education_level(class='form-control', id='educational-level') }}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form.course.label(class='form-control-label') }}
                            {{ form.course(class='form-control', id='course') }}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form.time.label(class='form-control-label') }}
                            {{ form.time(class='form-control', type='time', id='time') }}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form.cost.label(class='form-control-label') }}
                            {{ form.cost(class='form-control', id='cost') }}
                        </div> 
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form.save(class='btn btn-success form-control') }}
                        </div>     
                        <div class="form-group mx-sm-3 mb-2">
                            <button class="btn btn-secondary" data-dismiss="modal"
                            aria-label="Close">Cancel</button>   
                        </div>
                    </div>
                </form>
            </div>
        </div>   
    </div>
</div>

<div class="container">
    <legend class="border-bottom mb-4">My Courses</legend>

    <div class='table-responsive'>
        <table class='table table-hover' id='my-courses-table'>
           <thead>
               <tr>
                    <th scope="col">
                        <a href="{{ url_for('courses') }}" class="btn btn-secondary btn-sm" id='add-new-course'>
                            <i class="fas fa-plus"></i>
                            <span></span>
                        </a>
                    </th>
                    <th scope="col">Education Level</th>
                    <th scope="col">Course</th>
                    <th scope="col">Time</th>
                    <th scope="col">Cost</th>

               </tr>
           </thead>
           <tbody>
            {% for my_course in my_courses %}
                <tr>
                    <th scope="row">
                        <a class="btn btn-link btn-sm" 
                            href="{% if user.role=='tutor' %} {{url_for('delete_tutor_courses', id=my_course.id)}} {% else %} {{url_for('delete_student_courses', id=my_course.id)}} {% endif %} ">
                            <i class="fas fa-trash"></i>
                            <span></span>
                        </a>
                        <button class="btn btn-link btn-sm edit-btn" 
                            data-toggle="modal"
                            data-target="#edit-mycourse-form"
                            data-id="{{ my_course.id }}"> 
                            <i class="fas fa-edit"></i>
                            <span></span>
                        </button>
                    </th>
                    <td> {{ my_course.Course.course_level or ''}} </td>
                    <td> {{ my_course.Course.course_title or '' }} </td>
                    <td> {{ my_course.time or '' }} </td>
                    <td> {{ my_course.cost or ''}} </td>
                </tr>
            {% endfor %}
           </tbody>    
        </table>
    </div>

</div> 


<script>
    {% if user.role == "student" %}
    const modalHeaderTitle = document.querySelector('#modal-header-title');
    const editMyCourseForm = document.querySelector('edit-mycourse-form');
    const editButtons = document.querySelectorAll('.edit-btn');

    const education_level = document.querySelector('#educational-level');
    const course = document.querySelector('#course');
    const time = document.querySelector('#time');
    const cost = document.querySelector('#cost');

    const showMyCourseId = editButtons.forEach((btn) => {
        btn.addEventListener('click', () => { 
            var id_record_to_be_edited = btn.getAttribute('data-id');
            education_level.value = "{{ my_courses.filter_by(id=2).first().Course.course_level }}";
            course.value = "{{ my_courses.filter_by(id=2).first().Course.course_title }}";
            time.value = "{{ my_courses.filter_by(id=2).first().time }}";       
            for(var i, j = 0; i = cost.options[j]; j++) {
                if(i.value == "{{ my_courses.filter_by(id=2).first().cost }}") {
                    cost.selectedIndex = j;
                    break;
                }
            }
        })
    });   
    {% endif %}
</script>
{% endblock %}
