{% extends 'tutor.html' %}

{% block active %}
    activateMenu('my-followers')
{% endblock %}

{% block additional_style %}
    .container {
        padding: 3%;
    }

    .card {
        margin-bottom: 6%;
        background-color: #049BBA; 
    }

    .card-body {
        color: white;
    }

    .card-text {
        height: 150px;
        color: white;
    }

    .container {
        
    }

    .card {
        background-color: #049BBA; 
        margin-bottom: 3%;    
    }

    .card-body {
        color: white;
    }

    .card-text {
        color: white;
    }
    .col-md-4 img{
        height:30vh;
        width:30vh;
        object-fit: cover;
        position: relative;
        right:10px;
        transform: translateY(-50%);
        transform:scale(0.8);
        transition:transform 0.5s;
        opacity:0.9;
    }

    .col-md-4 img:hover{
        opacity:1;
        transform:scale(1);
    }
       

       
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <legend class="border-bottom mb-4">My Tutors</legend>
        <div class="row equal">
            {% for my_follower in my_followers %}
                <div class="col-md-6 mb-3 ">
                    <div class="card h-100" >
                        <div class="row flex-column-reverse flex-sm-row">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" >
                                        <a href="{{ url_for('profile', username=my_follower.username) }}">
                                            {{ my_follower.student.full_name }}
                                        </a>   
                                    </h5>
                                    <p class="card-text">
                                        Phone: {{ my_follower.student.phone }}
                                        <br>
                                        Email: 
                                        {{ my_follower.email }}                               
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 img-responsive"  style="margin:auto;text-align:center">
                                <a href="{{ url_for('profile', username=my_follower.username)}}" >
                                    {% if my_follower.student.profile_pic %}
                                        <img src="{{url_for('static',filename='profile_pics/'+my_follower.student.profile_pic)}}" class="img-responsive rounded-circle img-fluid mx-auto d-block" id="tutor_profile_pic" >
                                    {% else %}
                                        <img src="{{url_for('static',filename='profile_pics/student.jpg')}}" class="img-responsive rounded-circle img-fluid mx-auto d-block" id="tutor_profile_pic" >
                                    {% endif %}
                                </a>
                            </div>
                        </div>   
                    </div>   
                </div>
            {% endfor %}
        </div> 
    </div>  
{% endblock %}

