{% extends 'tutor.html' %}

{% block active %}
    activateMenu('my-profile')
{% endblock %}

{% block content %}

<div class = "modal fade" id="experience-form">
    <div class = "modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Experience</h4>
                <button type="button" class="close"
                    data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class='modal-body'>
                <form action="{{url_for('tutor_educational_profile')}}" method="POST" class="form inline"  enctype="multipart/form-data">
                    {{ form_experience.hidden_tag() }}
                    <div class="form-row align-items-center">
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_experience.experience.label(class='form-control-label') }}
                            {% if form_experience.experience.errors %}
                                {{ form_experience.experience(class='form-control is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form_experience.experience.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                                </div>
                            {%else%}
                                {{ form_experience.experience(class='form-control')}}
                            {% endif %}
            
                        </div>
            
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_experience.experience_certificate.label(class='form-control-label') }}
                            {% if form_experience.experience_certificate.errors %}
                                {{ form_experience.experience_certificate(class='form-control-file is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form_experience.experience_certificate.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                                </div>
                            {%else%}
                                {{ form_experience.experience_certificate(class='form-control-file')}}
                            {% endif %}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_experience.save_experience(class='form-control btn btn-success') }}
                        </div>   
                    </div>
                </form>                
            </div>
        </div>   
    </div>
</div>

<div class = "modal fade" id="qualification-form">
    <div class = "modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Qualification</h4>
                <button type="button" class="close"
                    data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class='modal-body'>
                <form action="" method="POST" class="form inline" enctype="multipart/form-data">
                    {{ form_qualification.hidden_tag() }}
                    <div class="form-row align-items-center">
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_qualification.qualification.label(class='form-control-label') }}
                            {% if form_qualification.qualification.errors %}
                                {{ form_qualification.qualification(class='form-control is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form_qualification.qualification.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                                </div>
                            {%else%}
                                {{ form_qualification.qualification(class='form-control')}}
                            {% endif %}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_qualification.qualification_certificate.label(class='form-control-label') }}
                            {% if form_qualification.qualification_certificate.errors %}
                                {{ form_qualification.qualification_certificate(class='form-control-file is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form_qualification.qualification_certificate.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                                </div>
                            {%else%}
                                {{ form_qualification.qualification_certificate(class='form-control-file')}}
                            {% endif %}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label class="form-control-label"></label>
                            {{ form_qualification.save_qualification(class='form-control btn btn-success') }}
                        </div>
                    </div>
                </form>
            
            </div>
        </div>   
    </div>
</div>

<div class = "modal fade" id="achievement-form">
    <div class = "modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Achievement</h4>
                <button type="button" class="close"
                    data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class='modal-body'>
                <form action="" method="POST" class="form inline" enctype="multipart/form-data">
                    {{ form_achievement.hidden_tag() }}
                    <div class="form-row align-items-center">
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_achievement.achievement.label(class='form-control-label') }}
                            {% if form_achievement.achievement.errors %}
                                {{ form_achievement.achievement(class='form-control is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form_achievement.achievement.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                                </div>
                            {%else%}
                                {{ form_achievement.achievement(class='form-control')}}
                            {% endif %}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_achievement.achievement_certificate.label(class='form-control-label') }}
                            {% if form_achievement.achievement_certificate.errors %}
                                {{ form_achievement.achievement_certificate(class='form-control-file is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form_achievement.achievement_certificate.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                                </div>
                            {%else%}
                                {{ form_achievement.achievement_certificate(class='form-control-file')}}
                            {% endif %}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label class="form-control-label"></label>
                            {{ form_achievement.save_achievement(class='form-control btn btn-success') }}
                        </div>
                    </div>
                </form>
            </div>
        </div>   
    </div>
</div>

<div class = "modal fade" id="edit-experience-form">
    <div class = "modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Experience</h4>
                <button type="button" class="close"
                    data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class='modal-body'>
                <form action="#" method="POST" class="form inline"  enctype="multipart/form-data">
                    {{ form_experience.hidden_tag() }}
                    <div class="form-row align-items-center">
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_experience.experience.label(class='form-control-label') }}
                            {% if form_experience.experience.errors %}
                                {{ form_experience.experience(class='form-control is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form_experience.experience.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                                </div>
                            {%else%}
                                {{ form_experience.experience(class='form-control')}}
                            {% endif %}
            
                        </div>
            
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_experience.experience_certificate.label(class='form-control-label') }}
                            {% if form_experience.experience_certificate.errors %}
                                {{ form_experience.experience_certificate(class='form-control-file is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form_experience.experience_certificate.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                                </div>
                            {%else%}
                                {{ form_experience.experience_certificate(class='form-control-file')}}
                            {% endif %}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_experience.save_experience(class='form-control btn btn-success') }}
                        </div>   
                    </div>
                </form>                
            </div>
        </div>   
    </div>
</div>

<div class = "modal fade" id="edit-qualification-form">
    <div class = "modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Qualification</h4>
                <button type="button" class="close"
                    data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class='modal-body'>
                <form action="" method="POST" class="form inline" enctype="multipart/form-data">
                    {{ form_qualification.hidden_tag() }}
                    <div class="form-row align-items-center">
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_qualification.qualification.label(class='form-control-label') }}
                            {% if form_qualification.qualification.errors %}
                                {{ form_qualification.qualification(class='form-control is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form_qualification.qualification.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                                </div>
                            {%else%}
                                {{ form_qualification.qualification(class='form-control')}}
                            {% endif %}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_qualification.qualification_certificate.label(class='form-control-label') }}
                            {% if form_qualification.qualification_certificate.errors %}
                                {{ form_qualification.qualification_certificate(class='form-control-file is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form_qualification.qualification_certificate.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                                </div>
                            {%else%}
                                {{ form_qualification.qualification_certificate(class='form-control-file')}}
                            {% endif %}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label class="form-control-label"></label>
                            {{ form_qualification.save_qualification(class='form-control btn btn-success') }}
                        </div>
                    </div>
                </form>
            
            </div>
        </div>   
    </div>
</div>

<div class = "modal fade" id="edit-achievement-form">
    <div class = "modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Achievement</h4>
                <button type="button" class="close"
                    data-dismiss="modal"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class='modal-body'>
                <form action="" method="POST" class="form inline" enctype="multipart/form-data">
                    {{ form_achievement.hidden_tag() }}
                    <div class="form-row align-items-center">
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_achievement.achievement.label(class='form-control-label') }}
                            {% if form_achievement.achievement.errors %}
                                {{ form_achievement.achievement(class='form-control is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form_achievement.achievement.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                                </div>
                            {%else%}
                                {{ form_achievement.achievement(class='form-control')}}
                            {% endif %}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            {{ form_achievement.achievement_certificate.label(class='form-control-label') }}
                            {% if form_achievement.achievement_certificate.errors %}
                                {{ form_achievement.achievement_certificate(class='form-control-file is-invalid')}}
                                <div class="invalid-feedback">
                                {% for error in form_achievement.achievement_certificate.errors %}
                                    <span>
                                        {{ error }}
                                    </span>
                                {% endfor %}
                                </div>
                            {%else%}
                                {{ form_achievement.achievement_certificate(class='form-control-file')}}
                            {% endif %}
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label class="form-control-label"></label>
                            {{ form_achievement.save_achievement(class='form-control btn btn-success') }}
                        </div>
                    </div>
                </form>
            </div>
        </div>   
    </div>
</div>

<div class="container">
    <legend class="border-bottom mb-4">My Educational Profile</legend>

    <div class = "table-responsive">
        <table class="table table-hover" id="my-experience-table">
            <thead>
               <tr class="d-flex">
                    <th scope="col" class="col-2">
                        <button type="button" class="btn btn-secondary btn-sm"
                            data-toggle="modal"
                            data-target="#experience-form">
                            <i class="fas fa-plus" ></i>
                            <span></span>
                        </button>
                    </th>
                    <th scope="col" class="col-8">Experience</th>
                    <th scope="col" class="col-2">Certificate</th>
               </tr>
           </thead>
           <tbody>
               {% for experience in experiences %}
                    <tr class="d-flex">
                        <td scope="row" class="col-2">
                            <a class="btn btn-link btn-sm" href="{{url_for('delete_tutor_experience', id=experience.id)}}">
                                <i class="fas fa-trash"></i>
                                <span></span>
                            </a>
                            <button type="button" class="btn btn-link btn-sm"
                                data-toggle="modal"
                                data-target="#edit-experience-form">
                                <i class="fas fa-edit"></i>
                                <span></span>
                            </button>
                        </td>
                        <td class="col-8"> {{ experience.experience }} </td>
                        <td class='col-2'> 
                            <a href="{{ url_for('static', filename='docs/experience/' + experience.experience_file)}}" class="btn btn-success btn-sm"> 
                                <i class="fas fa-external-link-alt "></i>
                                Open file
                            </a>
                        </td>
                    </tr>
               {% endfor %}
           </tbody>
        </table>
    </div>

    <div class = "table-responsive">
        <table class="table table-hover" id="my-qualification-table">
            <thead>
               <tr class="d-flex">
                   
                    <th scope="col" class="col-2">
                        <button type="button" class="btn btn-secondary btn-sm"
                            data-toggle="modal"
                            data-target="#qualification-form">
                            <i class="fas fa-plus"></i>
                            <span></span>
                        </button>
                    </th>
                    <th scope="col" class="col-8">Qualification</th>
                    <th scope="col" class="col-2">Certificate</th>
               </tr>
           </thead>
           <tbody>
            {% for qualification in qualifications %}
                <tr class="d-flex">
                    <td scope="row" class='col-2'>
                        <a class="btn btn-link btn-sm" href="{{url_for('delete_tutor_qualification', id=qualification.id)}}">
                            <i class="fas fa-trash"></i>
                            <span></span>
                        </a>
                        <button type="button" class="btn btn-link btn-sm"
                            data-toggle="modal"
                            data-target="#edit-qualification-form">
                            <i class="fas fa-edit"></i>
                            <span></span>
                        </button>
                    </td >
                    <td class='col-8'> {{ qualification.qualification }} </td>
                    <td class='col-2'> 
                        <a href="{{ url_for('static', filename='docs/qualification/' + qualification.qualification_file)}}" class="btn btn-success btn-sm"> 
                            <i class="fas fa-external-link-alt "></i>
                            Open file
                        </a>
                    </td>
                </tr>
            {% endfor %}
           </tbody>
        </table>
    </div>

    <div class = "table-responsive">
        <table class="table table-hover" id="my-achievement-table">
            <thead>
               <tr class="d-flex">
                    <th scope="col" class="col-2" >
                        <button type="button" class="btn btn-secondary btn-sm"
                            data-toggle="modal"
                            data-target="#achievement-form">
                            <i class="fas fa-plus" id=" save-achievement-btn"></i>
                            <span></span>
                        </button>
                    </th>
                    <th scope="col" class="col-8">Achievement</th>
                    <th scope="col" class="col-2">Certificate</th>
               </tr>
           </thead>
           <tbody>
            {% for achievement in achievements %}
                <tr class="d-flex">
                    <td scope="row" class="col-2">
                        <a class="btn btn-link btn-sm" href="{{url_for('delete_tutor_achievement', id=achievement.id)}}">
                            <i class="fas fa-trash"></i>
                            <span></span>
                        </a>
                        <button type="button" class="btn btn-link btn-sm"
                            data-toggle="modal"
                            data-target="#edit-achievement-form">
                            <i class="fas fa-edit"></i>
                            <span></span>
                        </button>
                    </td>
                    <td class="col-8"> {{ achievement.achievement }} </td>
                    <td class="col-2"> 
                        <a href="{{ url_for('static', filename='docs/achievement/' + achievement.achievement_file)}}" class="btn btn-success btn-sm"> 
                            <i class="fas fa-external-link-alt "></i>
                            Open file
                        </a>
                    </td>
                </tr>
            {% endfor %}
           </tbody>
        </table>
    </div>

</div>

{% endblock %}
