{% extends 'tutor.html' %}

{% block active %}
    activateMenu('my-profile')
{% endblock %}

{% block content %}
<div class="container">
    <legend class="border-bottom mb-4">My Educational Profile</legend>

    <form action="{{url_for('tutor_educational_profile')}}" method="POST" class="form inline" style="display:none;" id="my-experience-form"  enctype="multipart/form-data">
        {{ form_experience.hidden_tag() }}
        <div class="form-row align-items-center">
            <div class="form-group mx-sm-3 mb-2">
                {{ form_experience.experience.label(class='form-control-label') }}
                {% if form_experience.experience.errors %}
                    {{ form_experience.experience(class='form-control is-invalid')}}
                    <div class="invalid-feedback">
                    {% for error in form_experience.experience.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{ form_experience.experience(class='form-control')}}
                {% endif %}

            </div>

            <div class="form-group mx-sm-3 mb-2">
                {{ form_experience.experience_certificate.label(class='form-control-label') }}
                {% if form_experience.experience_certificate.errors %}
                    {{ form_experience.experience_certificate(class='form-control-file is-invalid')}}
                    <div class="invalid-feedback">
                    {% for error in form_experience.experience_certificate.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{ form_experience.experience_certificate(class='form-control-file')}}
                {% endif %}
            </div>

            <div class="form-group mx-sm-3 mb-2">
                {{ form_experience.save_experience(class='form-control btn btn-success') }}
            </div>
        </div>
    </form>
    <div class = "table-responsive">
        <table class="table table-hover" id="my-experience-table">
            <thead>
               <tr>
                    <th scope="col" >
                        <button type="button" class="btn btn-secondary btn-sm" id="add-new-experience">
                            <i class="fas fa-plus" ></i>
                            <span></span>
                        </button>
                    </th>
                    <th scope="col">Experience &nbsp &nbsp </th>
                    <th scope="col">Certificate &nbsp &nbsp </th>
               </tr>
           </thead>
           <tbody>
               {% for experience in experiences %}
                    <tr>
                        <td scope="row">
                            <a class="btn btn-link btn-sm" href="#">
                                <i class="fas fa-trash"></i>
                                <span></span>
                            </a>
                            <a class="btn btn-link btn-sm" href="#">
                                <i class="fas fa-edit"></i>
                                <span></span>
                            </a>
                        </td>
                        <td> {{ experience.experience }} </td>
                        <td> 
                            <a href="{{ url_for('static', filename='docs/experience/' + experience.experience_file)}}" class="btn btn-success btn-sm"> 
                                <i class="fas fa-external-link-alt "></i>
                                Open file
                            </a>
                        </td>
                    </tr>
               {% endfor %}
           </tbody>
        </table>
    </div>

    <form action="" method="POST" class="form inline" id="my-qualification-form" style="display:none;" enctype="multipart/form-data">
        {{ form_qualification.hidden_tag() }}
        <div class="form-row align-items-center">
            <div class="form-group mx-sm-3 mb-2">
                {{ form_qualification.qualification.label(class='form-control-label') }}
                {% if form_qualification.qualification.errors %}
                    {{ form_qualification.qualification(class='form-control is-invalid')}}
                    <div class="invalid-feedback">
                    {% for error in form_qualification.qualification.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{ form_qualification.qualification(class='form-control')}}
                {% endif %}
            </div>
            <div class="form-group mx-sm-3 mb-2">
                {{ form_qualification.qualification_certificate.label(class='form-control-label') }}
                {% if form_qualification.qualification_certificate.errors %}
                    {{ form_qualification.qualification_certificate(class='form-control-file is-invalid')}}
                    <div class="invalid-feedback">
                    {% for error in form_qualification.qualification_certificate.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{ form_qualification.qualification_certificate(class='form-control-file')}}
                {% endif %}
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label class="form-control-label"></label>
                {{ form_qualification.save_qualification(class='form-control btn btn-success') }}
            </div>
        </div>

    </form>

    <div class = "table-responsive">
        <table class="table table-hover" id="my-qualification-table">
            <thead>
               <tr>
                    <th scope="col" >
                        <button type="button" class="btn btn-secondary btn-sm" id='add-new-qualification'>
                            <i class="fas fa-plus"></i>
                            <span></span>
                        </button>
                    </th>
                    <th scope="col">Qualification</th>
                    <th scope="col">Certificate</th>
               </tr>
           </thead>
           <tbody>
           </tbody>
        </table>
    </div>

    <form action="" method="POST" class="form inline" id="my-achievement-form" style="display:none;" enctype="multipart/form-data">
        {{ form_achievement.hidden_tag() }}
        <div class="form-row align-items-center">
            <div class="form-group mx-sm-3 mb-2">
                {{ form_achievement.achievement.label(class='form-control-label') }}
                {% if form_achievement.achievement.errors %}
                    {{ form_achievement.achievement(class='form-control is-invalid')}}
                    <div class="invalid-feedback">
                    {% for error in form_achievement.achievement.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{ form_achievement.achievement(class='form-control')}}
                {% endif %}
            </div>
            <div class="form-group mx-sm-3 mb-2">
                {{ form_achievement.achievement_certificate.label(class='form-control-label') }}
                {% if form_achievement.achievement_certificate.errors %}
                    {{ form_achievement.achievement_certificate(class='form-control-file is-invalid')}}
                    <div class="invalid-feedback">
                    {% for error in form_achievement.achievement_certificate.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{ form_achievement.achievement_certificate(class='form-control-file')}}
                {% endif %}
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label class="form-control-label"></label>
                {{ form_achievement.save_achievement(class='form-control btn btn-success') }}
            </div>
        </div>

    </form>

    <div class = "table-responsive">
        <table class="table table-hover" id="my-achievement-table">
            <thead>
               <tr>
                    <th scope="col" >
                        <button type="button" class="btn btn-secondary btn-sm" id='add-new-achievement'>
                            <i class="fas fa-plus" id=" save-achievement-btn"></i>
                            <span></span>
                        </button>
                    </th>
                    <th scope="col">Achievement</th>
                    <th scope="col">Certificate</th>
               </tr>
           </thead>
           <tbody>
           </tbody>
        </table>
    </div>

</div>

    
{% endblock %}

{% block document_javascript %}
function hideShowForm(form_id){
    var formEl = document.getElementById(form_id);
    if (isHidden(formEl)){
        formEl.style.display = "block";
    }
    else{
        formEl.style.display = "none";
    }
}

function isHidden(el){
    if (el.style.display === "none"){
        return true
    }
    else{
        return false
    }
}

var addExp = document.getElementById("add-new-experience");
addExp.addEventListener('click',function(){hideShowForm('my-experience-form');},false);

var addQua = document.getElementById("add-new-qualification");
addQua.addEventListener('click',function(){hideShowForm('my-qualification-form');},false);

var addAch = document.getElementById("add-new-achievement");
addAch.addEventListener('click',function(){hideShowForm('my-achievement-form');},false);


{% endblock %}
