{% extends 'student.html' %}

{% block active %}
    activateMenu('my-tutors')
{% endblock %}

{% block additional_style %}
    .container {
        padding: 3%;
    }

    .card {
        margin-bottom: 6%;
        background-color: #049BBA; 
    }

    .card-body {
        color: white;
    }

    .card-text {
        height: 150px;
        color: white;
    }

    .container {
        
    }

    .card {
        background-color: #049BBA; 
        margin-bottom: 3%;    
    }

    .card-body {
        color: white;
    }

    .card-text {
        color: white;
    }
    .col-md-4 img{
        height:30vh;
        width:30vh;
        object-fit: cover;
        position: relative;
        right:10px;
        transform: translateY(-50%);
        transform:scale(0.8);
        transition:transform 0.5s;
        opacity:0.9;
    }

    .col-md-4 img:hover{
        opacity:1;
        transform:scale(1);
    }
       
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <legend class="border-bottom mb-4">My Tutors</legend>
        <div class="row equal">
            {% for followed_tutor in followed_tutors %}
                <div class="col-md-6 mb-3 ">
                    <div class="card h-100" >
                        <div class="row flex-column-reverse flex-sm-row">
                            <div class="col-md-8" ">
                                <div class="card-body">
                                    <h5 class="card-title" >
                                        <a href="{{ url_for('profile', username=followed_tutor.username) }}">
                                            {{ followed_tutor.tutor.full_name or 'N/A'}}
                                        </a>
                                        {% if followed_tutor.role=="tutor" and followed_tutor.tutor.account_verification_status %}
                                                    <i class="fas fa-check-circle"></i>
                                        {% endif %}    
                                    </h5>
                                    <p class="card-text">
                                        Phone: {{ followed_tutor.tutor.phone or 'n/a'}}
                                        <br>
                                        Email: 
                                        {{ followed_tutor.email or 'n/a'}}                               
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 img-responsive mx-auto d-block" style="margin:auto;text-align:center">
                                {% if followed_tutor.tutor.profile_pic %}
                                <a href="{{ url_for('profile', username=followed_tutor.username)}}" data-toggle="tooltip" title="Click here!">
                                      <img src="{{url_for('static',filename='profile_pics/'+followed_tutor.tutor.profile_pic)}}" class="img-responsive rounded-circle img-fluid mx-auto d-block" id="tutor_profile_pic" >
                                </a>
                                {% else %}
                                <a href="{{ url_for('profile', username=followed_tutor.username)}}" data-toggle="tooltip" title="Click here!">
                                    <img src="{{url_for('static',filename='profile_pics/tutor.jpg')}}" class="img-responsive rounded-circle img-fluid mx-auto d-block" id="tutor_profile_pic" >
                                </a>
                                {% endif %}
                                <p class="text-light">
                                    @{{ followed_tutor.username }}
                                    {% if followed_tutor.role=="tutor" and followed_tutor.tutor.account_verification_status %}
                                        <i class="fas fa-check-circle"></i>
                                    {% endif %}
                                </p>
                            </div>
                        </div>   
                    </div>   
                </div>
            {% endfor %}
        </div> 
    </div>  
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
    
    
{% endblock %}
