{% if user.role=='student' %}
    {% extends 'student.html' %}
{% else %}
    {% extends 'tutor.html' %}
{% endif %}

{% block active %}
    activateMenu('mylocation')
{% endblock %}

{% block additional_style %}
#map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
{% endblock %}

{% block document_javascript %}

if (document.getElementById('latitude-field').value && document.getElementById('longitude-field').value){
    var map, marker;    
    function initMap() {
        var center = {lat: parseFloat(document.getElementById('latitude-field').value), 
            lng: parseFloat(document.getElementById('longitude-field').value)};
        map = new google.maps.Map(
            document.getElementById('map'), {zoom: 10, center: center});
        marker = new google.maps.Marker({position:center , map: map});
    }
}
else{
    var map, marker;
    function initMap() {
            var center = {lat: 27.619550810842103, lng:85.53862810134888 };
            map = new google.maps.Map(
                document.getElementById('map'), {zoom: 10, center: center});
            google.maps.event.addListener(map,'click',
                function(event){
                    placeMarker(event.latLng);
                    document.getElementById('latitude-field').value=event.latLng.lat();
                    document.getElementById('longitude-field').value=event.latLng.lng();
                    setPlace(event.latLng.lat(),event.latLng.lng());
            });
    <!--        marker = new google.maps.Marker({position:place , map: map});-->
        }

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {lat: position.coords.latitude,lng: position.coords.longitude};
                    placeMarker(pos);
                    map.setCenter(pos);
                    document.getElementById('latitude-field').value=pos.lat;
                    document.getElementById('longitude-field').value=pos.lng;
                    setPlace(pos.lat,pos.lng);
        }, function(){
                console.error('Geolocation failed')
            });
        }
    else{
            console.log("No Geolocation service")
    }


    function placeMarker(location){
        if(marker){
            marker.setPosition(location);
        }
        else{
            marker=new google.maps.Marker({
                position: location,
                map:map
            });
        }
    }

    function setPlace(latitude,longitude){
        var apikey = '{{ opencage_api_key }}';
        var api_url =  'https://api.opencagedata.com/geocode/v1/json';
        var request_url = api_url + '?key=' + apikey +
                '&q=' + encodeURIComponent(latitude + ',' + longitude) +
                '&pretty=1&no_annotations=1';
        var request = new XMLHttpRequest();
        request.open('GET', request_url, true);
        request.onload = function() {
            if (request.status == 200) {
                var data = JSON.parse(request.responseText);
                document.getElementById('place-field').value = data.results[0].formatted;
            }
        };
        request.send();
    }
}
{% endblock %}

{% block additional_script%}
     <script defer
        src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap">
    </script>
{%endblock%}


{% block content %}
    <div class="container">

        <form action="" class="form my-2" method="POST">

            <legend class="border-bottom mb-4">My Location</legend>
            {{form.hidden_tag()}}

            <div class="form-row">

                <div class="form-group col-lg-6">

                    {{ form.travel_distance.label(class='form-control-label')}}
<!--                    {{ form.create_travel_distance_choice() }}-->
                    {{form.travel_distance(class='form-control', value=values.travel_distance)}}

                </div>

            </div>

             <div class="form-row">

                <div class="form-group col-lg-6">

                    {{ form.latitude.label(class='form-control-label')}}
                    {{form.latitude(class='form-control', id='latitude-field', value=values.latitude)}}

                </div>

                <div class="form-group col-lg-6">

                    {{ form.longitude.label(class='form-control-label')}}
                    {{form.longitude(class='form-control', id='longitude-field', value=values.longitude)}}

                </div>

                 <div class="form-group col-lg-6">

                    {{ form.place.label(class='form-control-label')}}
                    {{form.place(class='form-control', id='place-field', vlaues=values.place)}}

                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-lg-6">

                    {{ form.geolocation_misguide_info(class='form-control-label') }}

                </div>

                <div class="form-group col-lg-6">

                    {{ form.submit(class='btn btn-success') }}

                </div>

            </div>

        </form>

    </div>

    <div id="map"></div>

{% endblock %}