{% if user.role == 'student' %}
    {% extends 'student.html' %}
{% else %}
    {% extends 'tutor.html' %}
{% endif %}


{% block active %}
    activateMenu('personal-info')
{% endblock %}

{% block content %}
<div class="container">
    

    <form  action="{% if user.role =='tutor' %} {{url_for('tutor_personal_info')}} {% else %} {{url_for('student_personal_info')}} {% endif %}" id="personalInfoForm" class="form my-2" method="POST" enctype="multipart/form-data">

        <legend class="border-bottom mb-4">Personal Information</legend>
        {{ form.hidden_tag() }}

        <div class="form-row">
            <div class="form-group col-lg-6">
                {{ form.name.label(class='form-control-label') }}
                {% if form.name.errors %}
                    {{form.name(class="form-control is-invalid", value=user_obj.full_name)}}
                    <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{form.name(class="form-control", value=user_obj.full_name)}}
                {% endif %}
            </div>

            <div class="form-group col-lg-6">
                {{ form.date_of_birth.label(class='form-control-label') }}
                {% if form.date_of_birth.errors %}
                    {{form.date_of_birth(class="form-control is-invalid", type='date', value=user_obj.date_of_birth)}}
                    <div class="invalid-feedback">
                    {% for error in form.date_of_birth.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{form.date_of_birth(class="form-control", type='date',  value=user_obj.date_of_birth)}}
                {% endif %}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg-6">
                {{ form.state.label(class='form-control-label') }}
                {% set z = form.state.process_data(user_obj.state) %}
                {% if form.state.errors %}
                    {{form.state(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                    {% for error in form.state.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{form.state(class="form-control")}}
                {% endif %}
            </div>
           
           
            <div class="form-group col-lg-6">
                {{ form.district.label(class='form-control-label') }}
                {% set z = form.district.process_data(user_obj.district) %}
                {% if form.district.errors %}
                    {{form.district(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                    {% for error in form.district.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{form.district(class="form-control")}}
                {% endif %}
            </div> 

        </div>

        <div class="form-row">
            <div class="form-group col-lg-6">
                {{ form.municipality.label(class='form-control-label') }}
                {% if form.municipality.errors %}
                    {{form.municipality(class="form-control is-invalid", value=user_obj.municipality)}}
                    <div class="invalid-feedback">
                    {% for error in form.municipality.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{form.municipality(class="form-control", value=user_obj.municipality)}}
                {% endif %}
            </div>
    
            <div class="form-group col-lg-6">
                {{ form.ward_no.label(class='form-control-label') }}
                {% if form.ward_no.errors %}
                    {{form.ward_no(class="form-control is-invalid", value=user_obj.ward_no)}}
                    <div class="invalid-feedback">
                    {% for error in form.ward_no.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{form.ward_no(class="form-control",value=user_obj.ward_no)}}
                {% endif %}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg-6">
                {{ form.phone.label(class='form-control-label') }}
                {% if form.phone.errors %}
                    {{form.phone(class="form-control is-invalid", value=user_obj.phone)}}
                    <div class="invalid-feedback">
                    {% for error in form.phone.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{form.phone(class="form-control", value=user_obj.phone)}}
                {% endif %}
            </div>
        </div>

        {% if current_user.role == "student" %}
        <div class="form-row">
            <div class="form-group col-lg-4">
                {{ form.guardian_name.label(class='form-control-label', value=user_obj.guardian_name) }}
                {% if form.guardian_name.errors %}
                    {{form.guardian_name(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                    {% for error in form.guardian_name.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{form.guardian_name(class="form-control", value=user_obj.guardian_name)}}
                {% endif %}
            </div>

            <div class="form-group col-lg-4">
                {{ form.guardian_address.label(class='form-control-label')}}
                {% if form.guardian_address.errors %}
                    {{form.guardian_address(class="form-control is-invalid", value=user_obj.guardian_address)}}
                    <div class="invalid-feedback">
                    {% for error in form.guardian_address.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{form.guardian_address(class="form-control", value=user_obj.guardian_address)}}
                {% endif %}
            </div>

            <div class="form-group col-lg-4">
                {{ form.guardian_phone.label(class='form-control-label')}}
                {% if form.guardian_phone.errors %}
                    {{form.guardian_phone(class="form-control is-invalid", value=user_obj.guardian_address)}}
                    <div class="invalid-feedback">
                    {% for error in form.guardian_phone.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{form.guardian_phone(class="form-control", value=user_obj.guardian_phone)}}
                {% endif %}
            </div>            
        </div>
        {% endif %}

        <div class="form-row">
            <div class="form-group col-lg-4">
                {{ form.profile_pic.label(class='form-control-label') }}
                {% if form.profile_pic.errors %}
                    {{form.profile_pic(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                    {% for error in form.profile_pic.errors %}
                        <span>
                            {{ error }}
                        </span>
                    {% endfor %}
                    </div>
                {%else%}
                    {{form.profile_pic(class="form-control")}}
                {% endif %}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg-6">
                {{ form.submit(class='btn btn-success') }}
            </div>
        </div>

    </form>

</div>
{% endblock %}

<!--<select class="form-control" id="district" name="district" required></select>-->
