{% if user.role=='student' %}
    {% extends 'student.html' %}
{% else %}
    {% extends 'tutor.html' %}
{% endif %}

{% block active %}
    activateMenu('my-courses')
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row flex-column-reverse flex-md-row">
        <div class="col-md-1"></div>
        <div class="col-md-6 ">
            <div class="row">
                <div class="col-md-6" style="margin-bottom:15px;">
                    <h3> Personal Details </h3> 
                    <hr>
                    <p>
                        Name: {{ view_user[view_user.role].full_name or 'n/a'}}<br>
                        Email: {{ view_user.email or 'n/a' }} <br>
                        Phone: {{ view_user[view_user.role].phone or 'n/a' }} <br>
                        Date Of Birth: {{ view_user[view_user.role].date_of_birth or 'n/a' }}                            
                        
                    </p>
                </div> 
                <div class="col-md-6" style="margin-bottom:15px;"></div>              
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Permanent Address</h4>
                    <hr>
                    <p> 
                        State: {{ view_user[view_user.role].state or 'n/a' }}<br>
                        District: {{ view_user[view_user.role].district or 'n/a'}}<br>
                        Municipality: {{ view_user[view_user.role].municipality or 'n/a'}}<br>
                        Ward No: {{ view_user[view_user.role].ward_no or 'n/a' }} 
                    </p> 
                </div>
                <div class="col-md-6">
                    {% if view_user[view_user.role].description %}
                    <p style="margin-top:10px;">
                    <div class="thought">
                        {{ view_user[view_user.role].description }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-5 ">
            <div class="row" >
                <img class="image-responsive shadow rounded-circle img-size no-select mx-auto"
                style="width:200px;height:200px; " src="{%if view_user[view_user.role].profile_pic%} 
                {{ url_for('static', filename='profile_pics/' + view_user[view_user.role].profile_pic )}} {% else %}
                {{url_for('static', filename='profile_pics/' + view_user.role + '.jpg') }} {% endif %}"/>

            </div>
            <div class="row">
                <div class="buttons-container">
                        <div class="user-data">
                            <p>
                                @{{ view_user.username }}
                                {% if view_user.role=="tutor" and view_user.tutor.account_verification_status %}
                                    <i class="fas fa-check-circle"></i>
                                {% endif %}
                            </p>
                            {% if view_user.role=="tutor"  %}
                                {% if view_user==user %}
                                    <a href="{{url_for('tutor_followers') }}">
                                        <p>{{ view_user.followers.count() }} followers</p>
                                    </a>
                                {% else %}
                                    <p>{{ view_user.followers.count() }} followers</p>
                                {% endif %}
                            {% else %}
                                {% if view_user==user %}
                                    <a href="{{url_for('student_followed_tutors')}}">
                                        <p>{{ view_user.followed.count() }} following</p>
                                    </a>
                                {% else %}  
                                    <p>{{ view_user.followed.count() }} following</p>
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if view_user == user %}
                            {% if user.role == 'tutor'%}
                                <div class="row button">
                                    <button class="btn btn-info"><a href="{{ url_for('tutor_personal_info') }}">Edit your profile</a></button>
                                </div>
                                <div class="row button">
                                    <button class="btn btn-info"><a href="{{ url_for('tutor_location') }}">Edit Your Location</a></button>
                                </div>
                            {% elif user.role == 'student'%}
                                <div class="row button">
                                    <button class="btn btn-info"><a href="{{ url_for('student_personal_info') }}">Edit your profile</a></button>
                                </div>
                                <div class="row button">
                                    <button class="btn btn-info"><a href="{{ url_for('tutor_location') }}">Edit Your Location</a></button>
                                </div>
                            {% endif %}
                           
                        {% elif not user.is_following(view_user) %}
                                {% if user.role=="student" and view_user.role=="tutor" %}
                                    <button class="btn btn-primary"><a href="{{ url_for('follow', username=view_user.username) }}">Follow</a></button>
                                {%endif %}
                        {% else %}
                                {% if user.role=="student" and view_user.role=="tutor" %}
                                    <button class="btn btn-danger"><a href="{{ url_for('unfollow', username=view_user.username) }}">Unfollow</a></button>
                                {% endif %}
                        {% endif %}   
                </div>         
            </div>
        </div>

    </div>
    {% if view_user.role=='tutor'%}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {% if view_user == user %}
            <h4 style="margin-bottom: 10px;">Your Courses</h4>
            {%  else %}
            <h4 style="margin-bottom: 10px;">{{view_user.username}}'s Courses</h4>
            {% endif %}
            <div class='table-responsive'>
                <table class='table table-hover' id='my-courses-table'>
                    <thead>
                        <tr>
                            <th scope="col">Education Level</th>
                            <th scope="col">Course</th>
                            <th scope="col">Time</th>
                            <th scope="col">Cost</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for my_course in view_user.mycourse %}
                            <tr>
                                <td> {{ my_course.Course.course_level or ''}} </td>
                                <td> {{ my_course.Course.course_title or '' }} </td>
                                <td> {{ my_course.time or '' }} </td>
                                <td> Rs. {{ my_course.cost or ''}} </td>
                            </tr>
                        {% endfor %}
                    </tbody>    
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {% if view_user.location.latitude and view_user.location.longitude %}  
                <div class="map-container">
                    <h4>Map</h4>
                    <div id="map" class="row"></div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-1"></div>       
    </div>
    
</div>



{% endblock %}

{% block additional_style %}

#map {
    height:500px; 
    width:100%; 
    margin: auto;
    background-color: grey;
    margin-top:10px;
    colour: white;
  }

.map-container{
    margin-top:20px;
}

.thought {
    display:flex;
    background-color:rgb(179, 180, 196);
    padding:20px;
    border-radius:30px;
    min-width:40px;
    max-width:220px;
    min-height:40px;
    margin-top:20px;
    margin-bottom:30px;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
  .thought:before,
  .thought:after {
    content:"";
    background-color:rgb(179, 180, 196);
    border-radius:50%;
    display:block;
    position:absolute;
    z-index:-1;
  }
  .thought:before {
    width:44px;
    height:44px;
    top:-12px;
    left:28px;
    box-shadow:-50px 30px 0 -12px rgb(179, 180, 196);
  }
  .thought:after {
    bottom:-10px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:40px -34px 0 0 rgb(179, 180, 196),
               -28px -6px 0 -2px rgb(179, 180, 196),
               -24px 17px 0 -6px  rgb(179, 180, 196),
               -5px 25px 0 -10px rgb(179, 180, 196);
    
  }

  .buttons-container {
      margin-top: 10px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
  }

  .button{
      margin: 10px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
  }

  .user-data {
    text-align: center;
  }

  .username-container{
    text-align: center;
  }
{% endblock %}

{% block document_javascript %}
function initMap() {


    var viewUserLocation = { lat: parseFloat({{ view_user.location.latitude }}),
        lng: parseFloat({{ view_user.location.longitude }}) };
    
    var userLocation = {
        lat: parseFloat({{ user.location.latitude }}),
        lng: parseFloat({{ user.location.longitude }})
    };
    

    var map = new google.maps.Map(document.getElementById("map"), {
        zoom: 10,
        center: viewUserLocation
      });

    var viewUserDetails = "{{ view_user[view_user.role].full_name }}" + "\n" +
        "{{ view_user.role.title() }}" + "\n" + "{{ view_user[view_user.role].phone }}"

    var userDetails = "{{ user[user.role].full_name }}" + "\n" +
        "{{ user.role.title() }}" + "\n" + "{{ user[user.role].phone }}"


    var viewUserMarker = new google.maps.Marker({
      position: viewUserLocation,
      map:map,
      title: viewUserDetails
    });

    var userMarker = new google.maps.Marker({
        position: userLocation,
        map:map,
        title: userDetails
    });

    var markers = [viewUserMarker, userMarker]
    var bounds = new google.maps.LatLngBounds();
    for (var i = 0; i < markers.length; i++) {
        bounds.extend(markers[i]);
    }
  
    map.fitBounds(bounds);
    
  }
{% endblock %}

{% block additional_script%}
     <script defer
        src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap">
    </script>
{%endblock%}