{% extends "extends/base.html" %}

{% block title %}
Sign Up - Find Your Tutor
{% endblock %}


{% block content %}
<style>
  .container{
    max-width: 400px;
  }

  h3{
    text-align:center;
    margin-top:10px;
    font-size: 20px;
  }

  .resetlink{
    position: relative;
    background-color:whitesmoke;
    padding: 2%;
    border-radius: 5%;
  }

  .btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

</style>
<div class="container">
  <div style="text-align: center;">
  <img class="image-responsive"  style="width:120.5px;height:62px;" 
  src="{{url_for('static', filename='images/logo.png')}}" />
  </div>

  <h3>Reset your password</h3>
  <form action="{{ url_for('passwordresetlink') }}" class="form my-2 resetlink" method="POST">
    <p>Enter your user account's verified email address
      and we will send you a password reset link</p>
    <div class="form-row">
    <div class="form-group col">
        {{form.email.label(class='form-control-label')}}
        {% if form.email.errors %}
          {{form.email(class="form-control is-invalid")}}
          <div class="invalid-feedback">
              {% for error in form.email.errors %}
                  <span>
                      {{ error }}
                  </span>
              {% endfor %}
          </div>
        {%else%}
          {{form.email(class="form-control")}}
        {% endif %}
      </div>
    </div>
    <input class="btn btn-success" type="submit" value="Send Reset Link">
</form>
<a href="/reset">reset</a>
</div>

{%endblock%}