{% extends "extends/base-user.html" %}

{% block user %} 
    {{ user.username }}
{% endblock %}

{% block profilepic %}
    <img class="image-responsive shadow rounded-circle img-size no-select" data-toggle="tooltip" title="View your profile!"
         style="width:200px;height:200px;" src='{{ profilepic }}'/>
{% endblock %}

{% block sidebar_menu %}
    <li id="my-tutors">
        <a href="{{ url_for('student_followed_tutors') }}"><i class="fas fa-chalkboard-teacher"></i>
            My Tutors</a>
    </li>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div id="recommendation">
        <legend class="border-bottom mb-4" style="font-size: 30px; font-weight: 100;"> Tutors for you </legend>
        {% if matching_tutor %}
            <div id="course-recommendation">
                <div class="row">
                    <div class="col-md-4">
                        <h4> Based on course </h4>
                    </div>
                    <div class="col-md-8">
                        <p style="float: right;"><sub class='text-danger' style="font-size:30px;">*</sub> indicates the parameters slightly don't match your preferences!</p>
                    </div>
                </div>
                <div class="row">
                    {% for distinct_tutor in distinct_matching_tutor %}
                        <div class="col-md-12">
                            <div class="card">
                                <div class="row ">
                                    <div class="col-md-4" id="first">
                                        <div class="card-body">
                                            <h2>Personal Details 
                                                {% if distinct_tutor.User.role=="tutor" and distinct_tutor.Tutor.account_verification_status %}
                                                    <i class="fas fa-check-circle"></i>
                                                {% endif %}
                                            </h2><hr>
                                            <p class="card-text">
                                                <a href="{{ url_for('profile', username=distinct_tutor.User.username)}}">
                                                Name:   {{ distinct_tutor.User.tutor.full_name }}
                                                </a>   <br>
                                                Phone: {{ distinct_tutor.User.tutor.phone }}
                                                <br>
                                                Email: {{ distinct_tutor.User.email }}   
                                                <br> 
                                            </div>
                                    </div>

                                    <div class="col-md-5" id="second"> 
                                        <div class="card-body"> 
                                            <h2>Course Details</h2><hr> 
                                            <div class="card-text">          
                                                <div class = "table-responsive">
                                                    <table class="table table-hover" id="courses-table">
                                                        <thead>
                                                            <tr class="d-flex">
                                                                    <th scope='col' class='col-3'>Course Title</th>
                                                                    <th scope='col' class='col-3'>Monthly Cost</th>
                                                                    <th scope="col" class="col-6">Teaching Period</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                                {% for tutor in matching_tutor%}
                                                                    {% for student_course in student_courses %}
                                                                        {% if tutor.Course.id == student_course.Course.id and tutor.User.id == distinct_tutor.User.id and tutor.Mycourse.cost <= student_course.Mycourse.cost%}
                                                                            {% if ((tutor.Mycourse.time).hour - (student_course.Mycourse.time).hour) |abs <= 1 and ((tutor.Mycourse.endtime).hour - (student_course.Mycourse.endtime).hour) |abs <= 1%}
                                                                                <tr class="d-flex">
                                                                                    <td class="col-3">
                                                                                        <a href="{{url_for('courses_by_id',id=tutor.Course.id)}}">
                                                                                            {{ tutor.Course.course_title }}
                                                                                        </a>
                                                                                    </td>
                                                                                    <td class='col-3'>Rs. {{ tutor.Mycourse.cost }}</td>
                                                                                    <td class="col-6"> {{ tutor.Mycourse.time.strftime("%H:%M") }} - {{ tutor.Mycourse.endtime.strftime("%H:%M") }}</td>
                                                                                </tr>
                                                                            {% else %}
                                                                                <tr class="d-flex">
                                                                                    <td class="col-3">
                                                                                        <a href="{{url_for('courses_by_id',id=tutor.Course.id)}}">
                                                                                            {{ tutor.Course.course_title }}
                                                                                        </a>
                                                                                    </td>
                                                                                    <td class='col-3'>Rs. {{ tutor.Mycourse.cost }}</td>
                                                                                    <td class="col-6"> {{ tutor.Mycourse.time.strftime("%H:%M") }} - {{ tutor.Mycourse.endtime.strftime("%H:%M") }}<sub class='text-danger' style="font-size:30px;">*</sub></td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% elif tutor.Course.id == student_course.Course.id and tutor.User.id == distinct_tutor.User.id and tutor.Mycourse.cost > student_course.Mycourse.cost  %}
                                                                            {% if ((tutor.Mycourse.time).hour - (student_course.Mycourse.time).hour) |abs <= 1 and ((tutor.Mycourse.endtime).hour - (student_course.Mycourse.endtime).hour) |abs <= 1 %}
                                                                                <tr class="d-flex">
                                                                                    <td class="col-3">
                                                                                        <a href="{{url_for('courses_by_id',id=tutor.Course.id)}}">
                                                                                            {{ tutor.Course.course_title }}
                                                                                        </a>
                                                                                    </td>
                                                                                    <td class='col-3'> Rs. {{ tutor.Mycourse.cost }}<sub class='text-danger' style="font-size:30px;">*</sub></td>
                                                                                    <td class="col-6"> {{ tutor.Mycourse.time.strftime("%H:%M") }} - {{ tutor.Mycourse.endtime.strftime("%H:%M") }}</td>
                                                                                </tr>
                                                                            {% else %}
                                                                                <tr class="d-flex">
                                                                                    <td class="col-3">
                                                                                        <a href="{{url_for('courses_by_id',id=tutor.Course.id)}}">
                                                                                            {{ tutor.Course.course_title }}
                                                                                        </a>
                                                                                    </td>
                                                                                    <td class='col-3'>Rs. {{ tutor.Mycourse.cost }}<sub class='text-danger' style="font-size:30px;">*</sub></td>
                                                                                    <td class="col-6"> {{ tutor.Mycourse.time.strftime("%H:%M") }} - {{ tutor.Mycourse.endtime.strftime("%H:%M") }}<sub class='text-danger' style="font-size:30px;">*</sub></td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" id="third" style="margin:auto;text-align:center">
                                        <a href="{{ url_for('profile', username=distinct_tutor.User.username)}}" data-toggle="tooltip" title="Click here!">
                                        <img src="{{url_for('static',filename='profile_pics/'+distinct_tutor.User.tutor.profile_pic)}}" class="img-responsive rounded-circle">
                                        </a>
                                        <p class="text-light">
                                            @{{ distinct_tutor.User.username }}
                                            {% if distinct_tutor.User.role=="tutor" and distinct_tutor.Tutor.account_verification_status %}
                                                <i class="fas fa-check-circle"></i>
                                            {% endif %}
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    
    <div class="map-division map-responsive">
        <h4> Based on location </h4>
        {% if user.location.latitude and user.location.longitude %} 
            <div class="row">
                <div id="map" class="map-container" ></div>
            </div>
        {% else %}
            <div class="button">
                <h6>Please set your location!</h6>
                <div>
                {% if user.role=="tutor" %}
                    <button class="btn btn-info"><a href="{{ url_for('tutor_location') }}">Set Your Location</a></button>
                {% else %}
                    <button class="btn btn-info"><a href="{{ url_for('student_location') }}">Set Your Location</a></button>
                {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
      });
    
</script>

{% endblock %}

{% block additional_style %}
    #map {
    height:700px;
    width:700px;
    margin: auto;
    background-color: grey;
    margin-top:10px;
    colour: white;
    border-radius:50%;
    
     }
    .container{
        padding: 3%;
    }

    .card{
        margin-bottom: 2%;
        background-color: #049BBA; 
        
    }

    .card-body{
        color:white;
    }

    .card-text{
        height: auto ;
        color:white;
        
    }
    .col-md-3 img{

        margin-top:4%;
        margin-bottom:3%;
        height:80%;
        width:80%;
        user-select:none;
        box-shadow: 0 0 10px 2px #333;
        transform:scale(0.8);
        transition:transform 0.5s;
        opacity:0.9;
      }

      .col-md-3 img:hover{
        opacity:1;
        transform:scale(1);
      }

      @media only screen and (max-width: 768px) {
        #first {
            order: 2;
        }
        #second {
            order: 3;
        }
        #third {
            order: 1;
        }
        
    }
    

{% endblock %}


    
{% block document_javascript %}
    const icons = {
        tutor: "{{ url_for('static', filename='images/tutor-marker.png') }}",
        student: "{{ url_for('static', filename='images/student-marker.png') }}"
    };

    function initMap() {
        
        var userLocation = {
            lat: parseFloat({{ user.location.latitude }}),
            lng: parseFloat({{ user.location.longitude }})
        };
        
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: userLocation,
            gestureHandling: 'none',
            zoomControl: false
        });

        var studentMarker = new google.maps.Marker({
            position: userLocation,
            map: map,
            icon: icons.student,
            title: "{{ user.student.full_name }}"
        });

        google.maps.event.addListener(studentMarker, 'click', ()=> {
            window.open(
                    "{{ url_for('profile', username=user.username) }}",
                    '_blank' 
            );
        })

        {% for tutor in tutor_list %}
            var tutorLocation = {
                lat: parseFloat({{ tutor.location.latitude }}),
                lng: parseFloat({{ tutor.location.longitude }})
            };
            
            var tutorMarker = new google.maps.Marker({
                position: tutorLocation,
                map: map,
                icon: icons.tutor,
                title: "{{ tutor.tutor.full_name }}"
            });

            google.maps.event.addListener(tutorMarker, 'click', ()=> {
                window.open(
                    "{{ url_for('profile', username=tutor.username) }}",
                    '_blank' 
                );
            })
        {% endfor %}
    }
{% endblock %}

{% block additional_script%}
     <script defer
        src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap">
        
    </script>
{%endblock%}