{% extends "extends/base-user.html" %}

{% block user %} 
    {{ user.username }}
{% endblock %}

{% block profilepic %} 
<img class="image-responsive" style="width:136px;height:164.6px;"
    src='{{ profilepic }}'/>
{% endblock %}

{% block sidebar_menu %}
    <li id="my-tutors">
        <a href="{{ url_for('student_followed_tutors') }}"><i class="fas fa-chalkboard-teacher"></i>
            My Tutors</a>
    </li>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Student {{user.username}}</h1>
</div>
{% endblock %}