{% extends "extends/base-user.html" %}

{% block user %} 
    {{ user.username }}
{% endblock %}

{% block profilepic %}
    <img class="image-responsive shadow rounded-circle img-size no-select"
         style="width:200px;height:200px;" src='{{ profilepic }}'/>
{% endblock %}

{% block sidebar_menu %}
    <li id="my-tutors">
        <a href="{{ url_for('student_followed_tutors') }}"><i class="fas fa-chalkboard-teacher"></i>
            My Tutors</a>
    </li>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div id="view-profile-link">
        <a href="{{url_for('profile', username=user.username)}}" style="float:right;" class="btn btn-success">View Profile</a>
    </div>
    <div id="recommendation">
        <legend class="border-bottom mb-4"> Tutors for you </legend>
        <div class="row">
            <a href="?rec-category=all" class="btn btn-info">All Tutors</a>
            <a href="?rec-category=location" class="btn btn-info">Based on location</a>
            <a href="?rec-category=time" class="btn btn-info">Based on time</a>
            <a href="?rec-category=cost" class="btn btn-info">Based on cost</a>
        </div>
        {% if matching_tutor %}
            <div id="course-recommendation">
                <!-- <form action="#">
                    <select>
                        <option value="course cost time location">Based on Course, Cost, Time and Location</option>
                        <option value="location">Based on Location</option>
                        <option value="time">Based on Course and Time</option>
                        <option value="cost">Based on Course and Cost</option>
                    </select>
                </form> -->
                <h6> Based on course </h6>
                <div class="row">
                    {% for tutor in matching_tutor %}

                        <div class="col-md-12">
                            <div class="card">
                                <div class="row ">
                                    <div class="col-md-4" id="first">
                                        <div class="card-body">
                                            <h2>Personal Details</h2><hr>
                                            <p class="card-text">
                                                <a href="{{ url_for('profile', username=tutor.User.username)}}">
                                                 Name:   {{ tutor.User.tutor.full_name }}
                                                </a>   <br>
                                                Phone: {{ tutor.User.tutor.phone }}
                                                <br>
                                                Email: {{ tutor.User.email }}   
                                                <br> 
                                            </div>
                                    </div>

                                    <div class="col-md-5" id="second"> 
                                        <div class="card-body"> 
                                            <h2>Course Details</h2><hr> 
                                            <div class="card-text">          
                                                <div class = "table-responsive">
                                                    <table class="table table-hover" id="courses-table">
                                                        <thead>
                                                            <tr class="d-flex">
                                                                    <th scope='col' class='col-6'>Course Title</th>
                                                                    <th scope='col' class='col-3'>Cost</th>
                                                                    <th scope="col" class="col-3">Time</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for tutor_courses in course_by_tutor %}
                                                                {% if tutor.User.id == tutor_courses.User.id%}
                                                                    {%for course in tutor.User.mycourse%}
                                                                        {% if tutor_courses.Course.course_title==course.Course.course_title %}
                                                                            <tr class="d-flex">
                                                                                <td class="col-6">
                                                                                    <a href="{{url_for('courses_by_id',id=tutor_courses.Course.id)}}">
                                                                                        {{ tutor_courses.Course.course_title }}
                                                                                    </a>
                                                                                </td>
                                                                                <td class='col-3'> {{ tutor_courses.Mycourse.cost }}</td>
                                                                                <td class="col-3"> {{ tutor_courses.Mycourse.time.strftime("%H:%M") }}</td>
                                                                            </tr>
                                                                        {%endif%}
                                                                    {%endfor%}
                                                                {%endif%}
                                                            {%endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3" id="third" style="margin:auto;text-align:center">
                                        <a href="{{ url_for('profile', username=tutor.User.username)}}"data-toggle="tooltip" title="click me for detail information">
                                        <img src="{{url_for('static',filename='profile_pics/'+tutor.User.tutor.profile_pic)}}" class="img-responsive rounded-circle">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    
    <div class="map-division map-responsive">
        <h6> Based on location </h6>
        {% if user.location.latitude and user.location.longitude %} 
            <div class="row">
                <div id="map" class="map-container" ></div>
            </div>
        {% else %}
            <div class="button">
                <h6>Please set your location!</h6>
                <div>
                {% if user.role=="tutor" %}
                    <button class="btn btn-info"><a href="{{ url_for('tutor_location') }}">Set Your Location</a></button>
                {% else %}
                    <button class="btn btn-info"><a href="{{ url_for('student_location') }}">Set Your Location</a></button>
                {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
      });
    
</script>

{% endblock %}

{% block additional_style %}
    #map {
    height:700px;
    width:700px;
    margin: auto;
    background-color: grey;
    margin-top:10px;
    colour: white;
    border-radius:50%;
    
     }
    .container{
        padding: 3%;
    }

    .card{
        margin-bottom: 2%;
        background-color: #049BBA; 
        
    }

    .card-body{
        color:white;
    }

    .card-text{
        height: auto ;
        color:white;
        
    }
    .col-md-3 img{

        margin-top:4%;
        margin-bottom:3%;
        height:80%;
        width:80%;
        user-select:none;
        box-shadow: 0 0 10px 2px #333;
      }
      @media only screen and (max-width: 768px) {
        #first {
            order: 2;
        }
        #second {
            order: 3;
        }
        #third {
            order: 1;
        }
        
    }
    

{% endblock %}


    
{% block document_javascript %}
    const icons = {
        tutor: "{{ url_for('static', filename='images/tutor-marker.png') }}",
        student: "{{ url_for('static', filename='images/student-marker.png') }}"
    };

    function initMap() {
        
        var userLocation = {
            lat: parseFloat({{ user.location.latitude }}),
            lng: parseFloat({{ user.location.longitude }})
        };
        
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: userLocation,
            gestureHandling: 'none',
            zoomControl: false
        });

        var studentMarker = new google.maps.Marker({
            position: userLocation,
            map: map,
            icon: icons.student,
            title: "{{ user.student.full_name }}"
        });

        google.maps.event.addListener(studentMarker, 'click', ()=> {
            window.open(
                    "{{ url_for('profile', username=user.username) }}",
                    '_blank' 
            );
        })

        {% for tutor in tutor_list %}
            var tutorLocation = {
                lat: parseFloat({{ tutor.location.latitude }}),
                lng: parseFloat({{ tutor.location.longitude }})
            };
            
            var tutorMarker = new google.maps.Marker({
                position: tutorLocation,
                map: map,
                icon: icons.tutor,
                title: "{{ tutor.tutor.full_name }}"
            });

            google.maps.event.addListener(tutorMarker, 'click', ()=> {
                window.open(
                    "{{ url_for('profile', username=tutor.username) }}",
                    '_blank' 
                );
            })
        {% endfor %}
    }
{% endblock %}

{% block additional_script%}
     <script defer
        src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap">
        
    </script>
{%endblock%}