{% extends "extends/base-user.html" %}

{% block user %} 
    {{ user.username }}
{% endblock %}

{% block profilepic %}
    <img class="image-responsive shadow rounded-circle img-size no-select"
         style="width:200px;height:200px;" src='{{ profilepic }}'/>
{% endblock %}

{% block sidebar_menu %}

    <li id="my-followers">
        <a href="{{ url_for('tutor_followers') }}"><i class="fas fa-user-friends"></i>
            My Followers</a>
    </li>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Tutor {{user.username}}</h1>
    <a href="{{url_for('profile', username=user.username)}}" style="float:right;" class="btn btn-success">View Profile</a>
</div>
{% endblock %}