{% extends "extends/base-user.html" %}

{% block user %} 
    {{ user.username }}
{% endblock %}

{% block profilepic %} 
<img class="image-responsive" style="width:200px;height:141.5px;"
    src='{{ profilepic }}'/>
{% endblock %}

{% block sidebar_menu %}

    <li id="my-profile">
        <a href="#"><i class="fas fa-id-badge"></i>
            My Profile</a>
    </li>

    <li id="my-followers">
        <a href="{{ url_for('tutor_followers') }}"><i class="fas fa-user-friends"></i>
            My Followers</a>
    </li>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Tutor {{user.username}}</h1>
</div>
{% endblock %}